h1{
	color: blue;
}

.col-sm-12, input{
	margin-bottom: 15px;
}

body{
	overflow: hidden;
}

#pages{
	/* Make will pages twice the width of the screen. */
	width: 200vw;
}

#page1, #page2{
	width: 100vw;
	float: left;
	height: 100vh;
	position: relative;
	right: 0px;
	transition: all 3s;
}

#arrow1, #arrow2{
	position: absolute;
	top: 50%;
	background-color: red;
	color: white;
	height: 50px;
	width: 50px;
	font-size: 40px;
}

#arrow1{
	right: 0px;
}
#arrow2{
	left: 0px;
}